<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/tailwind.css" rel="stylesheet">
    <link href="/assets/css/custom.css" rel="stylesheet">
    <link href="/assets/css/error.css" rel="stylesheet">
</head>

<body>
<div th:replace="fragments/header :: nav_bar"></div>
<h3>Oups, quelque chose s'est mal passée !</h3>

<h3 th:text="${errorMessage}"></h3>

</body>
</html>