<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modification du profil</title>
</head>
<body>
    <form th:action="@{/profile/editer}" th:object="${userEditProfileForm}" method="POST">
        <div class="container">
            <h1>Modifier mon profil</h1>

            <div>
<!--                <label><b>Email:</b></label><div th:text="${user.getEmail()}"></div>-->
            </div>


            <div>
<!--                <label><b>Nom Prenom:</b></label><div th:text="${user.getNomPrenom()}"></div>-->
            </div>

            <div style="display: flex">
                <label for="gender"><b>Sexe/Genre :</b></label>
                <select th:field="*{genre}" name="gender" id="gender" required>
                    <option th:each="genre : ${T(io.ekip.implicactioncore.dto.Genre).values()}" th:value="${genre.getValue()}" th:text="${genre.getLabel()}"></option>
                </select>
                <div th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}" style="color: red"></div>
            </div>

            <div style="display: flex">
                <label for="birthdate"><b>Date de naissance :</b></label>
                <input type="date" th:field="*{birthdate}" id="birthdate" name="birthdate" min="1900-01-01" required>
                <div th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}" style="color: red"></div>
            </div>

            <div style="display: flex">
                <label for="telephone"><b>Numéro de téléphone :</b></label>
                <input type="tel" th:field="*{telephone}" id="telephone" name="telephone" required>
                <div th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}" style="color: red"></div>
            </div>

            <div style="display: flex">
                <label for="adresse"><b>Adresse :</b></label>
                <input type="text" th:field="*{adresse}" placeholder="Adresse complète" name="adresse" id="adresse" required>
                <div th:if="${#fields.hasErrors('adresse')}" th:errors="*{adresse}" style="color: red"></div>
            </div>

            <div style="display: flex">
                <label for="pays"><b>Pays :</b></label>
                <input type="text" th:field="*{pays}" placeholder="Pays" name="pays" id="pays">
                <div th:if="${#fields.hasErrors('pays')}" th:errors="*{pays}" style="color: red"></div>
            </div>
            <!--TODO link postalCode and city ?-->
            <div style="display: flex">
                <label for="city"><b>Ville :</b></label>
                <input type="text" th:field="*{ville}" placeholder="Ville" name="city" id="city">
                <div th:if="${#fields.hasErrors('ville')}" th:errors="*{ville}" style="color: red"></div>
            </div>
            <div style="display: flex">
                <label for="postalcode"><b>Code Postal :</b></label>
                <input type="text" th:field="*{codePostal}" placeholder="Code Postal" name="postalcode" id="postalcode">
                <div th:if="${#fields.hasErrors('codePostal')}" th:errors="*{codePostal}" style="color: red"></div>
            </div>

            <div style="display: flex">
                <label for="departement"><b>Departement :</b></label>
                <input type="text" th:field="*{departement}" placeholder="Departement" name="departement" id="departement">
                <div th:if="${#fields.hasErrors('departement')}" th:errors="*{departement}" style="color: red"></div>
            </div>

            <div style="display: flex">
                <label for="region"><b>Region :</b></label>
                <select th:field="*{region}" name="region" id="region" required>
                    <option th:each="regionEnum : ${T(io.ekip.implicactioncore.dto.Region).values()}" th:value="${regionEnum.getValue()}" th:selected="${region == regionEnum.getValue()}" th:text="${regionEnum.getLabel()}"></option>
                </select>
                <div th:if="${#fields.hasErrors('region')}" th:errors="*{region}" style="color: red"></div>
            </div>

            <div style="display: flex">
                <label for="presentation"><b>Presentation :</b></label>
                <br>
                <textarea th:field="*{presentation}" placeholder="Presentation" name="presentation" id="presentation" required></textarea>
                <div th:if="${#fields.hasErrors('presentation')}" th:errors="*{presentation}" style="color: red"></div>
            </div>

            <div style="display: flex">
                <label for="objectif_pro"><b>Objectif Pro :</b></label>
                <br>
                <textarea th:field="*{objectifPro}" placeholder="Votre/vos objectif(s) pro" name="objectif_pro" id="objectif_pro" required></textarea>
                <div th:if="${#fields.hasErrors('objectifPro')}" th:errors="*{objectifPro}" style="color: red"></div>
            </div>

            <div style="display: flex">
                <label for="apport_reseau"><b>Apport réseau :</b></label>
                <br>
                <textarea th:field="*{apportReseau}" placeholder="Apport réseau" name="apport_reseau" id="apport_reseau" required></textarea>
                <div th:if="${#fields.hasErrors('apportReseau')}" th:errors="*{apportReseau}" style="color: red"></div>
            </div>

            <div style="display: flex">
                <label for="attente_reseau"><b>Attente Réseau :</b></label>
                <br>
                <textarea th:field="*{attenteReseau}" placeholder="Attente réseau" name="attente_reseau" id="attente_reseau" required></textarea>
                <div th:if="${#fields.hasErrors('attenteReseau')}" th:errors="*{attenteReseau}" style="color: red"></div>
            </div>

            <div style="display: flex">
                <label><b>Armée d'origine</b></label>
                <label><input th:field="*{armeeOrigine}" type="checkbox" value="armee_terre" name="armee_origine[]">Armée de terre</label>
                <label><input th:field="*{armeeOrigine}" type="checkbox" value="armee_air" name="armee_origine[]">Armée de l'air</label>
                <label><input th:field="*{armeeOrigine}" type="checkbox" value="marine" name="armee_origine[]">Marine nationale</label>
                <label><input th:field="*{armeeOrigine}" type="checkbox" value="gendarmerie" name="armee_origine[]">Gendarmerie</label>
                <label><input th:field="*{armeeOrigine}" type="checkbox" value="police" name="armee_origine[]">Police</label>
                <label><input th:field="*{armeeOrigine}" type="checkbox" value="dga" name="armee_origine[]">DGA</label>
                <label><input th:field="*{armeeOrigine}" type="checkbox" value="ssa" name="armee_origine[]">SSA</label>
                <label><input th:field="*{armeeOrigine}" type="checkbox" value="sca" name="armee_origine[]">SCA</label>
                <label><input th:field="*{armeeOrigine}" type="checkbox" value="aucun" name="armee_origine[]">Aucun</label>
                <div th:if="${#fields.hasErrors('armeeOrigine')}" th:errors="*{armeeOrigine}" style="color: red"></div>
            </div>

            <div style="display: flex">
                <label><b>Corps statutaire</b></label>
                <label><input th:field="*{corpsStatutaire}" type="checkbox" value="general" name="corps_statutaire[]">Général</label>
                <label><input th:field="*{corpsStatutaire}" type="checkbox" value="officier" name="corps_statutaire[]">Officier</label>
                <label><input th:field="*{corpsStatutaire}" type="checkbox" value="sous_officier" name="corps_statutaire[]">Sous-officier</label>
                <label><input th:field="*{corpsStatutaire}" type="checkbox" value="militaire" name="corps_statutaire[]">Militaire du rang</label>
                <label><input th:field="*{corpsStatutaire}" type="checkbox" value="civil" name="corps_statutaire[]">Civil de la Défense</label>
                <label><input th:field="*{corpsStatutaire}" type="checkbox" value="reserviste" name="corps_statutaire[]">Réserviste</label>
                <label><input th:field="*{corpsStatutaire}" type="checkbox" value="sympathisant" name="corps_statutaire[]">Sympathisant</label>
                <div th:if="${#fields.hasErrors('corpsStatutaire')}" th:errors="*{corpsStatutaire}" style="color: red"></div>
            </div>

            <div style="display: flex">
                <label><b>Date experience :</b></label>
                <input th:each="dateExp : *{dateExperience}" th:value="${dateExp}" name="dateExperience" min="1900-01-01" th:type="date">
                <input th:if="*{#lists.isEmpty(dateExperience)}" name="dateExperience" min="1900-01-01" th:type="date">
                <input th:if="*{#lists.isEmpty(dateExperience)}" name="dateExperience" min="1900-01-01" th:type="date">
                <div th:if="${#fields.hasErrors('dateExperience')}" th:errors="*{dateExperience}" style="color: red"></div>
            </div>
            <div style="display: flex">
                <label for="description_experience"><b>Description experience :</b></label>
                <br>
                <textarea th:field="*{descriptionExperience}" placeholder="Description experience" name="description_experience" id="description_experience"></textarea>
                <div th:if="${#fields.hasErrors('descriptionExperience')}" th:errors="*{descriptionExperience}" style="color: red"></div>
            </div>

            <div style="display: flex">
                <label><b>Date formation :</b></label>
                <input th:each="dateForm : *{dateFormation}" th:value="${dateForm}" name="dateFormation" min="1900-01-01" th:type="date">
                <input th:if="*{#lists.isEmpty(dateFormation)}" name="dateFormation" min="1900-01-01" th:type="date">
                <input th:if="*{#lists.isEmpty(dateFormation)}" name="dateFormation" min="1900-01-01" th:type="date">
                <div th:if="${#fields.hasErrors('dateFormation')}" th:errors="*{dateFormation}" style="color: red"></div>
            </div>
            <div style="display: flex">
                <label for="description_formation"><b>Description formation :</b></label>
                <br>
                <textarea th:field="*{descriptionFormation}" placeholder="Description formation" name="description_formation" id="description_formation"></textarea>
                <div th:if="${#fields.hasErrors('descriptionFormation')}" th:errors="*{descriptionFormation}" style="color: red"></div>
            </div>
            <div style="display: flex">
                <label for="interets"><b>Interets :</b></label>
                <br>
                <textarea th:field="*{interets}" placeholder="Interets" name="interets[]" id="interets"></textarea>
                <div th:if="${#fields.hasErrors('interets')}" th:errors="*{interets}" style="color: red"></div>
            </div>

            <div style="display: flex">
                <label for="description_emploi"><b>Détails sur mon métier :</b></label>
                <br>
                <textarea th:field="*{descriptionEmploi}" placeholder="Description emploi" name="description_emploi" id="description_emploi"></textarea>
                <div th:if="${#fields.hasErrors('descriptionEmploi')}" th:errors="*{descriptionEmploi}" style="color: red"></div>
            </div>

            <div style="display: flex">
                <label><b>Type d'emploi</b></label>
                <label><input th:field="*{typeEmploi}" type="checkbox" value="commercial_marketing" name="type_emploi[]">Commercial / Marketing</label>
                <label><input th:field="*{typeEmploi}" type="checkbox" value="communication_creation" name="type_emploi[]">Communication / Création</label>
                <label><input th:field="*{typeEmploi}" type="checkbox" value="dir_entreprise" name="type_emploi[]">Direction d'Entreprise</label>
                <label><input th:field="*{typeEmploi}" type="checkbox" value="etude_rd" name="type_emploi[]">Études / Recherche et Développement</label>
                <label><input th:field="*{typeEmploi}" type="checkbox" value="gest_fin_admin" name="type_emploi[]">Gestion / Finance / Administration</label>
                <label><input th:field="*{typeEmploi}" type="checkbox" value="sys_info" name="type_emploi[]">Systèmes d'Information</label>
                <label><input th:field="*{typeEmploi}" type="checkbox" value="indu_trav_chantier" name="type_emploi[]">Production Industrielle / Travaux / Chantiers</label>
                <label><input th:field="*{typeEmploi}" type="checkbox" value="rh" name="type_emploi[]">Ressources Humaines</label>
                <label><input th:field="*{typeEmploi}" type="checkbox" value="sanitaire_soc_cult" name="type_emploi[]">Sanitaire / Social / Culture</label>
                <label><input th:field="*{typeEmploi}" type="checkbox" value="tech" name="type_emploi[]">Services Techniques</label>
                <label><input th:field="*{typeEmploi}" type="checkbox" value="logistique" name="type_emploi[]">Logistique</label>
                <div th:if="${#fields.hasErrors('typeEmploi')}" th:errors="*{typeEmploi}" style="color: red"></div>
            </div>

            <div style="display: flex">
                <label for="citation"><b>Citation :</b></label>
                <br>
                <textarea th:field="*{citation}" placeholder="Citation" name="citation" id="citation"></textarea>
                <div th:if="${#fields.hasErrors('citation')}" th:errors="*{citation}" style="color: red"></div>
            </div>

            <div th:replace="fragments/visibility :: visibility_field(fieldName='visibiliteProfile', currentVisibilite=*{visibiliteProfile})"></div>

            <div th:if="${#fields.hasErrors('global')}" style="color: red">
                <p th:each="err : ${#fields.errors('global')}" th:text="${err}"></p>
            </div>

            <p>En créant un compte vous accepter nos <a href="#">Terms & Privacy</a>.</p>
            <button type="submit" class="registerbtn">S'inscire</button>
        </div>
    </form>
</body>
</html>