<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Créer – Implic'Action</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link href="/assets/css/tailwind.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: nav_bar"></div>
<section class="text-gray-600 body-font relative">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-12">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Editer un groupe</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">
                Détails du groupe
            </p>
        </div>
        <div th:if="${error}" th:text="${error}"></div>
        <!--/*@thymesVar id="groupForm" type="io.ekip.implicactioncore.dto.form.GroupForm"*/-->
        <form method="post" th:action="@{/groupes/editer}" th:object="${groupForm}">
            <div class="lg:w-1/2 md:w-2/3 mx-auto grid grid-cols-2 gap-6">
                <div class="col-span-2 sm:col-span-1">
                    <label class="leading-7 text-sm text-gray-600">Nom du groupe</label>
                    <input th:field="*{name}" placeholder="Nom du groupe" name="groupName" type="text"
                           class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"/>
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></div>
                </div>
                <div class="col-span-2 sm:col-span-1">
                    <label for="region" class="leading-7 text-sm text-gray-600">Region :</label>
                    <select class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-2 px-3 leading-8 transition-colors duration-200 ease-in-out"
                            th:field="*{region}" name="region" id="region" required>
                        <option th:each="regionEnum : ${T(io.ekip.implicactioncore.dto.Region).values()}"
                                th:value="${regionEnum.getValue()}" th:selected="${region == regionEnum.getValue()}"
                                th:text="${regionEnum.getLabel()}"></option>
                    </select>
                    <div th:if="${#fields.hasErrors('region')}" style="color: red">La région n'est pas correcte.</div>
                </div>

                <div class="col-span-2 sm:col-span-2">
                    <label class="leading-7 text-sm text-gray-600">Description du groupe</label>
                    <textarea
                            class="w-full mt-2 bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
                            th:field="*{desc}" placeholder="Description du groupe" name="desc" rows="5" cols="33"></textarea>
                    <div th:if="${#fields.hasErrors('desc')}" th:errors="*{desc}" style="color: red"></div>
                </div>
                <input type="hidden" name="id_group" th:value="${idGroup}">
                <button type="submit"
                        class="text-white mx-auto w-1/3 bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg col-span-2 sm:col-span-2">
                    Sauvegarder
                </button>
            </div>
        </form>
    </div>
</section>

</body>
</html>
