<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/assets/css/tailwind.css" rel="stylesheet">
	<link href="/assets/css/custom.css" rel="stylesheet">
	<title>S'enregistrer</title>
</head>

<body>
	<div th:replace="fragments/header :: nav_bar"></div>
	<section class="text-gray-600 body-font relative">

		<div class="container px-5 py-4 mx-auto">
			<div class="flex flex-col text-center w-full mb-12">
				<h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">S'enregister</h1>
				<p class="lg:w-2/3 mx-auto leading-relaxed text-base">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				</p>
			</div>
			<form th:action="@{/register}" th:object="${userRegistrationForm}" method="POST">

				<div class="lg:w-1/2 md:w-2/3 mx-auto">
					<div class="flex flex-wrap -m-2">
						<div class="p-2 w-1/2">
							<div class="relative">
								<label for="gender" class="leading-7 text-sm text-gray-600">Genre</label>
								<select
									class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-2 px-3 leading-8 transition-colors duration-200 ease-in-out"
									th:field="*{genre}" name="gender" id="gender" required>
									<option th:each="genre : ${T(io.ekip.implicactioncore.dto.Genre).values()}"
										th:value="${genre.getValue()}" th:text="${genre.getLabel()}"></option>
								</select>
								<div th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}" style="color: red"></div>
							</div>
						</div>
						<div class="p-2 w-1/2">
							<div class="relative">
								<label class="leading-7 text-sm text-gray-600" for="birthdate">Date de naissance</label>
								<input
									class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
									type="date" th:field="*{birthdate}" id="birthdate" name="birthdate" min="1900-01-01" required>
								<div th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}" style="color: red"></div>
							</div>
						</div>
						<div class="p-2 w-full">
							<div class="relative">
								<label for="adresse" class="leading-7 text-sm text-gray-600">Adresse</label>
								<input class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
										type="text" th:field="*{adresse}" placeholder="Adresse complète" name="adresse" id="adresse" required>
								<div th:if="${#fields.hasErrors('adresse')}" th:errors="*{adresse}" style="color: red"></div>
							</div>
						</div>
						<div class="p-2 w-1/2">
							<div class="relative">
								<label for="region" class="leading-7 text-sm text-gray-600">Région</label>
								<select
									class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-2 px-3 leading-8 transition-colors duration-200 ease-in-out"
									th:field="*{region}" name="region" id="region" required>
									<option th:each="regionEnum : ${T(io.ekip.implicactioncore.dto.Region).values()}"
										th:value="${regionEnum.getValue()}" th:selected="${region == regionEnum.getValue()}"
										th:text="${regionEnum.getLabel()}"></option>
								</select>
								<div th:if="${#fields.hasErrors('region')}" style="color: red">La région n'est pas correcte.</div>
							</div>
						</div>
						<div class="p-2 w-1/2">
							<div class="relative">
								<label class="leading-7 text-sm text-gray-600" for="telephone">Numéro de téléphone</label>
								<input class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" type="tel" th:field="*{telephone}" id="telephone" name="telephone" required>
								<div th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}" style="color: red"></div>
							</div>
						</div>
						<div class="p-2 w-full">
							<div class="relative">
								<label for="presentation" class="leading-7 text-sm text-gray-600">Présentation</label>
								<textarea
									class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
									th:field="*{presentation}" placeholder="Presentation" name="presentation" id="presentation"
									required></textarea>
								<div th:if="${#fields.hasErrors('presentation')}" th:errors="*{presentation}" style="color: red"></div>
							</div>
						</div>
						<div class="p-2 w-full">
							<div class="relative">
								<label for="objectif_pro" class="leading-7 text-sm text-gray-600">Objectif Pro</label>
								<textarea
									class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
									th:field="*{objectifPro}" placeholder="Votre/vos objectif(s) pro" name="objectif_pro"
									id="objectif_pro" required></textarea>
								<div th:if="${#fields.hasErrors('objectifPro')}" th:errors="*{objectifPro}" style="color: red"></div>
							</div>
						</div>
						<div class="p-2 w-full">
							<div class="relative">
								<label for="apport_reseau" class="leading-7 text-sm text-gray-600">Apport Réseau</label>
								<textarea
									class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
									th:field="*{apportReseau}" placeholder="Apport réseau" name="apport_reseau" id="apport_reseau"
									required></textarea>
								<div th:if="${#fields.hasErrors('apportReseau')}" th:errors="*{apportReseau}" style="color: red"></div>
							</div>
						</div>
						<div class="p-2 w-full">
							<div class="relative">
								<label for="attente_reseau" class="leading-7 text-sm text-gray-600">Attente Réseau</label>
								<textarea
									class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
									th:field="*{attenteReseau}" placeholder="Attente réseau" name="attente_reseau" id="attente_reseau"
									required></textarea>
								<div th:if="${#fields.hasErrors('attenteReseau')}" th:errors="*{attenteReseau}" style="color: red">
								</div>
							</div>
						</div>
						<div th:replace="fragments/visibility :: visibility_field(fieldName = 'visibiliteProfile', currentVisibilite = 'private')"></div>


						<div class="p-2 w-full">
							<button type="submit" class="flex mx-auto text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg registerbtn">S'enregistrer</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</section>
</body>
</html>
