<div class="p-2 w-full">
    <div class="relative">
        <label class="leading-7 text-sm text-gray-600">Visibilité</label>
        <div class="mx-auto text-center flex flex-wrap justify-center" th:fragment="visibility_field(fieldName, currentVisibilite)" xmlns:th="https://www.thymeleaf.org">
            <div class="flex items-center mr-4 mb-4" th:each="visibility : ${T(io.ekip.implicactioncore.dto.Visibility).values()}">
                <input class="hidden" type="radio" th:id="${visibility.getValue()}" th:name="${fieldName}"
                       th:value="${visibility.getValue()}" th:checked="${visibility.getValue() == currentVisibilite}">
                <label class="flex items-center cursor-pointer" th:for="${visibility.getValue()}"><span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey"></span><div th:text="${visibility.getLabel()}"></div></label>
            </div>
        </div>
    </div>
</div>
