<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifier une annonce – Implic'Action</title>
    <link href="/assets/css/tailwind.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: nav_bar"></div>
<div th:if="${error}" th:text="${error}"></div>
<section class="text-gray-600 body-font relative">
        <div class="lg:container px-6 mx-auto md:p-4 p-2">
            <div class="flex flex-wrap w-full md:mb-5"><div class="lg:w-1/2 w-full mb-6 lg:mb-0"><h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Modifier une offre</h1><div class="h-1 w-20 bg-blue-500 rounded"></div></div></div>
                <form method="post" th:action="@{/offres/editer}" th:object="${offreForm}">
                    <div class="lg:flex lg:divide-x">
                        <div class="lg:w-1/2 md:w-2/3 md:px-5 mx-auto">
                            <h3 class="sm:text-xl text-xl font-medium title-font mb-4 text-gray-900">Détails de l'offre</h3>
                            <div class="flex flex-wrap -m-2">
                                <div class="p-2 w-full md:w-1/2">
                                    <div class="relative">
                                        <label for="titrePoste" class="leading-7 text-sm text-gray-600">Nom du poste</label>
                                        <input class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" th:field="*{titrePoste}" id="titrePoste" name="titrePoste" type="text"/>
                                        <div th:if="${#fields.hasErrors('titrePoste')}" th:errors="*{titrePoste}" style="color: red"></div>
                                    </div>
                                </div>
                                <div class="p-2 w-full md:w-1/2">
                                    <div class="relative">
                                        <label for="typePostee" class="leading-7 text-sm text-gray-600">Type de poste</label>
                                        <select class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-2 px-3 leading-8 transition-colors duration-200 ease-in-out" id="typePostee" name="typePoste">
                                            <option value="cdi" selected>CDI</option>
                                            <option value="cdd">CDD</option>
                                            <option value="freelance">Freelance</option>
                                            <option value="stage">Stage</option>
                                            <option value="tempspartiel">Temps partiel</option>
                                        </select>
                                        <div th:if="${#fields.hasErrors('typePoste')}" th:errors="*{typePoste}" style="color: red"></div>
                                    </div>
                                </div>
                                <div class="p-2 w-full md:w-1/2">
                                    <div class="relative">
                                        <label for="lieuPoste" class="leading-7 text-sm text-gray-600">Lieu du poste (optionnel)</label>
                                        <input class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" id="lieuPoste" th:field="*{lieuPoste}" name="lieuPoste" type="text"/>
                                        <div th:if="${#fields.hasErrors('lieuPoste')}" th:errors="*{lieuPoste}" style="color: red"></div>
                                    </div>
                                </div>
                                <div class="p-2 w-full md:w-1/2">
                                    <div class="relative">
                                        <label for="email" class="leading-7 text-sm text-gray-600">Email/URL de candidature</label>
                                        <input class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" th:field="*{email}" id="email" name="email" type="text"/>
                                        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red"></div>
                                    </div>
                                </div>
                                <!--TODO: Champs catégories emploi à implémenter -->
                                <div class="p-2 w-full">
                                    <div class="relative">
                                        <label for="description" class="leading-7 text-sm text-gray-600">Description</label>
                                        <textarea th:field="*{description}" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out" id="description" name="description" rows="5" cols="33"></textarea>
                                        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}" style="color: red"></div>
                                    </div>
                                    <input type="hidden" name="id_offre" th:value="${idOffre}">
                                </div>
                            </div>
                        </div>
                        <div class="lg:w-1/2 md:w-2/3 md:px-5 mx-auto">
                            <h3 class="sm:text-xl text-xl font-medium title-font mb-4 text-gray-900">Détails de société</h3>
                            <div class="flex flex-wrap -m-2">
                                <div class="p-2 w-full md:w-1/2">
                                    <div class="relative">
                                        <label for="nomEntreprise" class="leading-7 text-sm text-gray-600">Nom de l'entreprise</label>
                                        <input class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" th:field="*{nomEntreprise}" id="nomEntreprise" name="nomEntreprise" type="text"/>
                                        <div th:if="${#fields.hasErrors('nomEntreprise')}" th:errors="*{nomEntreprise}" style="color: red"></div>
                                    </div>
                                </div>
                                <div class="p-2 w-full md:w-1/2">
                                    <div class="relative">
                                        <label for="urlEntreprise" class="leading-7 text-sm text-gray-600">Site (optionnel)</label>
                                        <input th:field="*{urlEntreprise}" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" id="urlEntreprise" name="urlEntreprise" type="text"/>
                                        <div th:if="${#fields.hasErrors('urlEntreprise')}" th:errors="*{urlEntreprise}" style="color: red"></div>
                                    </div>
                                </div>
                                <div class="p-2 w-full">
                                    <div class="relative">
                                        <label for="descriptionEntreprise" class="leading-7 text-sm text-gray-600">Slogan (optionnel)</label>
                                        <input th:field="*{descriptionEntreprise}" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" id="descriptionEntreprise" name="descriptionEntreprise" type="text"/>
                                        <div th:if="${#fields.hasErrors('descriptionEntreprise')}" th:errors="*{descriptionEntreprise}" style="color: red"></div>
                                    </div>
                                </div>
                                <div class="p-2 w-full">
                                    <div class="relative">
                                        <label for="urlVideo" class="leading-7 text-sm text-gray-600">Vidéo (optionnel)</label>
                                        <input th:field="*{urlVideo}" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" id="urlVideo" name="urlVideo" type="text"/>
                                        <div th:if="${#fields.hasErrors('urlVideo')}" th:errors="*{urlVideo}" style="color: red"></div>
                                    </div>
                                </div>
                                <div class="p-2 w-full">
                                    <div class="relative">
                                        <label for="urlTwitter" class="leading-7 text-sm text-gray-600">Compte Twitter (optionnel)</label>
                                        <input th:field="*{urlTwitter}" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" id="urlTwitter" name="urlTwitter" type="text"/>
                                        <div th:if="${#fields.hasErrors('urlTwitter')}" th:errors="*{urlTwitter}" style="color: red"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-2 w-full">
                        <button type="submit" class="flex mx-auto text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded  md:text-lg filterbtn">Sauvegarder</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>
</body>
</html>