<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8"/>
    <title>Détails offre</title>
    <link href="/assets/css/tailwind.css" rel="stylesheet">
</head>
<body>
<div th:replace="fragments/header :: nav_bar"></div>
<div class="lg:container md:px-6 mx-auto md:p-4 p-1">
    <div class="flex flex-wrap w-full mb-5"><div class="lg:w-1/2 w-full mb-6 lg:mb-0"><h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Détails de l'offre</h1><div class="h-1 w-20 bg-blue-500 rounded"></div></div></div>

        <th:block th:if="*{offredetails != null}">
        <div class="p-4 shadow-md rounded-md text-left">
            <div class="flex items-center mb-2">
                <div class="flex-shrink-0">
                    <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/60x60">
                </div>
                <div class="md:max-w-none max-w-sm ml-2 md:ml-4">
                    <div class="md:flex">
                        <div class="font-medium md:text-xl text-gray-900" th:text="*{offredetails.getNomEntreprise()}"></div>
                        <div th:if="*{!offredetails.getDescEntreprise().isEmpty()}" class="md:block hidden font-medium text-xl text-gray-900">&nbsp;-&nbsp;</div>
                        <div th:if="*{!offredetails.getDescEntreprise().isEmpty()}" class="font-medium md:text-xl text-gray-900" th:text="*{offredetails.getDescEntreprise()}"></div>
                    </div>
                    <div class="text-xs font-medium text-gray-900">
                        <p class="whitespace-normal" th:text="*{offredetails.getTitrePoste()}"></p>
                    </div>
                    <span class="text-xs px-2 font-medium bg-blue-500 bg-opacity-10 text-blue-800 rounded py-0.5" th:text="${offredetails.getTypePoste().getLabel()}"></span>
                    <span th:if="*{!offredetails.getLieuPoste().isEmpty()}" class="text-xs px-2 font-medium bg-blue-500 bg-opacity-10 text-blue-800 rounded py-0.5" th:text="${offredetails.getLieuPoste()}"></span>
                </div>
            </div>
            <div class="md:p-4 break-words">
                <label class="block mb-3">
                    <div th:text="*{offredetails.getDescription()}"></div>
                </label>
                <label class="flex pb-4">
                    <span class="text-gray-700">Contact :&nbsp;</span>
                    <div class="font-medium" th:text="*{offredetails.getEmail()}"></div>
                </label>
                <label class="block pb-4" th:if="*{!offredetails.getUrlVideo().isEmpty()}">
                    <iframe class="w-5/6 md:w-3/5 lg:w-2/5 md:h-80" th:src="*{offredetails.getUrlVideo()}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </label>
                <div class="flex pb-2">
                    <a th:if="*{!offredetails.getTwitter().isEmpty()}" th:href="*{offredetails.getTwitter()}" class="pr-2 text-gray-500"><svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24"><path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path></svg></a>
                    <div class="w-5 h-5">
                        <a th:if="*{!offredetails.getUrlEntreprise().isEmpty()}" th:href="*{offredetails.getUrlEntreprise()}" class="pr-2 text-gray-500"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="link" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-link fa-w-16"><path fill="currentColor" d="M326.612 185.391c59.747 59.809 58.927 155.698.36 214.59-.11.12-.24.25-.36.37l-67.2 67.2c-59.27 59.27-155.699 59.262-214.96 0-59.27-59.26-59.27-155.7 0-214.96l37.106-37.106c9.84-9.84 26.786-3.3 27.294 10.606.648 17.722 3.826 35.527 9.69 52.721 1.986 5.822.567 12.262-3.783 16.612l-13.087 13.087c-28.026 28.026-28.905 73.66-1.155 101.96 28.024 28.579 74.086 28.749 102.325.51l67.2-67.19c28.191-28.191 28.073-73.757 0-101.83-3.701-3.694-7.429-6.564-10.341-8.569a16.037 16.037 0 0 1-6.947-12.606c-.396-10.567 3.348-21.456 11.698-29.806l21.054-21.055c5.521-5.521 14.182-6.199 20.584-1.731a152.482 152.482 0 0 1 20.522 17.197zM467.547 44.449c-59.261-59.262-155.69-59.27-214.96 0l-67.2 67.2c-.12.12-.25.25-.36.37-58.566 58.892-59.387 154.781.36 214.59a152.454 152.454 0 0 0 20.521 17.196c6.402 4.468 15.064 3.789 20.584-1.731l21.054-21.055c8.35-8.35 12.094-19.239 11.698-29.806a16.037 16.037 0 0 0-6.947-12.606c-2.912-2.005-6.64-4.875-10.341-8.569-28.073-28.073-28.191-73.639 0-101.83l67.2-67.19c28.239-28.239 74.3-28.069 102.325.51 27.75 28.3 26.872 73.934-1.155 101.96l-13.087 13.087c-4.35 4.35-5.769 10.79-3.783 16.612 5.864 17.194 9.042 34.999 9.69 52.721.509 13.906 17.454 20.446 27.294 10.606l37.106-37.106c59.271-59.259 59.271-155.699.001-214.959z" class=""></path></svg></a>
                    </div>
                </div>
                <label class="text-xs flex">
                    <span class="text-gray-700">Publié le&nbsp;</span>
                    <div th:text="*{offredetails.getDatePublication()}"></div>
                </label>
            </div>
        </div>
    </th:block>
</div>
</body>
</html>