<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Liste des groupes</title>
    <link href="/assets/css/tailwind.css" rel="stylesheet">
</head>
<body>
<div class="bg-white">
    <div th:replace="fragments/header :: nav_bar"></div>
</div>
<section class="text-gray-600 body-font relative">
    <div class="container px-5 py-24 mx-auto">
        <div class="grid grid-cols-6 gap-2">
            <div class="sm:block col-span-6 sm:col-span-5">
                <input placeholder="Rechercher..." class="w-full bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" id="searchInput" onkeyup="searchBar()" type="text"/>
            </div>
            <div class="sm:block col-span-6 sm:col-span-1">
                <a sec:authorize="hasRole('ADMIN')" class="text-white block text-center bg-blue-500 border-0 py-2 px-6 focus:outline-none hover:bg-blue-600 rounded text-lg"
                   href="/groupes/creer">Ajouter un groupe</a>
            </div>
            <div class="sm:block col-span-6 sm:col-span-6 mt-5 shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table th:fragment="group_table(groups)" class="min-w-full divide-y divide-gray-200" id="searchGroupTable">
                    <thead class="bg-gray-50">
                    <tr>
                        <th scope="col"
                            class=" px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Groupe
                        </th>
                        <th scope="col"
                            class=" px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                            Region
                        </th>
                    </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                    <div th:each="group,iterStat  : ${listGroups}" th:switch="${iterStat.even}">
                        <tr th:case="false" th:onclick="'document.location=\'/groupes/'+ ${group.getId()}+'\''"
                            onclick="document.location = 'links.html';"
                            class="cursor-pointer hover:bg-blue-500 hover:text-white hover:font-medium text-sm text-gray-900">
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div th:text="${group.getName()}"></div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div th:text="${group.getRegion().getLabel()}"></div>
                            </td>
                        </tr>
                        <tr th:case="true" th:onclick="'document.location=\'/groupes/'+ ${group.getId()}+'\''"
                            onclick="document.location = 'links.html';"
                            class="cursor-pointer hover:bg-blue-500 hover:text-white hover:font-medium bg-gray-100 text-sm text-gray-900">
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div th:text="${group.getName()}"></div>
                            </td>
                            <td class="px-6 py-4 whitespace-nowrap">
                                <div th:text="${group.getRegion().getLabel()}"></div>
                            </td>
                        </tr>
                    </div>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

</ul>
</body>
<script>
    function searchBar() {
        var input, filter, table, tr, td, td1, i, txtValue, txtValue1;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("searchGroupTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            td1 = tr[i].getElementsByTagName("td")[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                txtValue1 = td1.textContent || td1.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1 || txtValue1.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
</html>
