<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>Login page</title>
    </head>
    <body>
        <div th:if="${error}" th:text="${error}"></div>
        <form method="post" th:action="@{/login}" th:object="${loginForm}">
            <div style="display: flex">
                <label>Username : <input th:field="*{username}" name="username" type="text"/></label>
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" style="color: red"></div>
            </div>
            <div style="display: flex">
                <label>Password: <input th:field="*{password}" name="password" type="password"/></label>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" style="color: red"></div>
            </div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    </body>
</html>