<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modération des groupes</title>
</head>
<body>
<form method="post" th:action="@{/groupes/moderation}">
    <fieldset>
        <legend>
            <h3>Modération des groupes</h3>
        </legend>
        <label><b>Liste des groupes :</b></label>
        <select name="id_group">
            <option th:each="group : ${listGroups}"
                    th:value="${group.id}" th:text="${group.name}"></option>
        </select>
        <label><b>Liste des utilisateurs :</b></label>
        <select name="id_user">
            <option th:each="user : ${listUsers}"
                    th:value="${user.id}" th:text="${user.nomPrenom}"></option>
        </select>
    </fieldset>
    <button type="submit">Sauvegarder</button>
</form>

</body>
</html>