<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/tailwind.css" rel="stylesheet">
    <link href="/assets/css/custom.css" rel="stylesheet">
    <title>Mon profil</title>
</head>
<body>
<div th:replace="fragments/header :: nav_bar"></div>
<section class="text-gray-600 body-font relative">

    <div class="container px-2 md:px-5 py-4 mx-auto">
        <div class="flex flex-wrap w-full md:mb-5"><div class="lg:w-1/2 w-full mb-6 lg:mb-0"><h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Profil</h1><div class="h-1 w-20 bg-blue-500 rounded"></div></div></div>
        <form class="flex flex-wrap flex-col lg:flex-row mt-10" th:action="@{/profil/editer}" th:object="${userEditProfileForm}" method="POST">
            <div class="lg:w-2/12 text-center lg:pr-8 lg:py-8">
                <div class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10" viewBox="0 0 24 24">
                        <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                </div>
                <div class="flex flex-col items-center text-center justify-center">
                    <h2 class="font-medium title-font mt-4 text-gray-900 text-lg" th:text="${name}"></h2>
                    <div class="w-12 h-1 bg-blue-500 rounded mt-2 mb-4"></div>
                    <p class="text-base" th:text="${email}"></p>
                </div>
            </div>
            <div class="lg:w-5/12 lg:pl-8 lg:py-8 lg:border-l border-gray-200 lg:border-t-0 border-t mt-4 pt-4 lg:mt-0 text-center sm:text-left">
                <div class="flex flex-wrap -m-2">
                    <div class="p-2 w-full md:w-1/2">
                        <div class="relative">
                            <label for="gender" class="leading-7 text-sm text-gray-600">Genre</label>
                            <select
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-2 px-3 leading-8 transition-colors duration-200 ease-in-out"
                                    th:field="*{genre}" name="gender" id="gender" required>
                                <option th:each="genreEnum : ${T(io.ekip.implicactioncore.dto.Genre).values()}"
                                        th:value="${genreEnum.getValue()}" th:selected="${genre == genreEnum.getValue()}"
                                        th:text="${genreEnum.getLabel()}"></option>
                            </select>
                            <div th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}" style="color: red"></div>
                        </div>
                    </div>
                    <div class="p-2 w-full md:w-1/2">
                        <div class="relative">
                            <label class="leading-7 text-sm text-gray-600" for="birthdate">Date de naissance</label>
                            <input
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                                    type="date" th:field="*{birthdate}" id="birthdate" name="birthdate" min="1900-01-01" required>
                            <div th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}" style="color: red"></div>
                        </div>
                    </div>
                    <div class="p-2 w-full md:w-1/2">
                        <div class="relative">
                            <label for="pays" class="leading-7 text-sm text-gray-600">Pays</label>
                            <input class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                                   type="text" th:field="*{pays}" placeholder="Pays" name="pays" id="pays">
                            <div th:if="${#fields.hasErrors('pays')}" th:errors="*{pays}" style="color: red"></div>
                        </div>
                    </div>
                    <div class="p-2 w-full md:w-1/2">
                        <div class="relative">
                            <label for="city" class="leading-7 text-sm text-gray-600">Ville</label>
                            <input class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                                   type="text" th:field="*{ville}" placeholder="Ville" name="city" id="city">
                            <div th:if="${#fields.hasErrors('ville')}" th:errors="*{ville}" style="color: red"></div>
                        </div>
                    </div>
                    <div class="p-2 w-full md:w-3/4">
                        <div class="relative">
                            <label for="adresse" class="leading-7 text-sm text-gray-600">Adresse</label>
                            <input class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                                   type="text" th:field="*{adresse}" placeholder="Adresse complète" name="adresse" id="adresse" required>
                            <div th:if="${#fields.hasErrors('adresse')}" th:errors="*{adresse}" style="color: red"></div>
                        </div>
                    </div>
                    <div class="p-2 w-full md:w-1/4">
                        <div class="relative">
                            <label for="postalcode" class="leading-7 text-sm text-gray-600">Code postal</label>
                            <input class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                                   type="text" th:field="*{codePostal}" placeholder="Code postal" name="postalcode" id="postalcode">
                            <div th:if="${#fields.hasErrors('codePostal')}" th:errors="*{codePostal}" style="color: red"></div>
                        </div>
                    </div>
                    <div class="p-2 w-full md:w-1/2">
                        <div class="relative">
                            <label for="region" class="leading-7 text-sm text-gray-600">Région</label>
                            <select
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-2 px-3 leading-8 transition-colors duration-200 ease-in-out"
                                    th:field="*{region}" name="region" id="region" required>
                                <option th:each="regionEnum : ${T(io.ekip.implicactioncore.dto.Region).values()}"
                                        th:value="${regionEnum.getValue()}" th:selected="${region == regionEnum.getValue()}"
                                        th:text="${regionEnum.getLabel()}"></option>
                            </select>
                            <div th:if="${#fields.hasErrors('region')}" style="color: red">La région n'est pas correcte.</div>
                        </div>
                    </div>
                    <div class="p-2 w-full md:w-1/2">
                        <div class="relative">
                            <label for="departement" class="leading-7 text-sm text-gray-600">Departement</label>
                            <input class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                                   type="text" th:field="*{departement}" placeholder="Departement" name="departement" id="departement">
                            <div th:if="${#fields.hasErrors('departement')}" th:errors="*{departement}" style="color: red"></div>
                        </div>
                    </div>
                    <div class="p-2 w-full">
                        <div class="relative">
                            <label class="leading-7 text-sm text-gray-600" for="telephone">Numéro de téléphone</label>
                            <input class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out" type="tel" th:field="*{telephone}" id="telephone" name="telephone" required>
                            <div th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}" style="color: red"></div>
                        </div>
                    </div>
                    <div class="p-2 w-full">
                        <div class="relative">
                            <label for="presentation" class="leading-7 text-sm text-gray-600">Présentation</label>
                            <textarea
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
                                    th:field="*{presentation}" placeholder="Presentation" name="presentation" id="presentation"
                                    required></textarea>
                            <div th:if="${#fields.hasErrors('presentation')}" th:errors="*{presentation}" style="color: red"></div>
                        </div>
                    </div>
                    <div class="p-2 w-full">
                        <div class="relative">
                            <label for="objectif_pro" class="leading-7 text-sm text-gray-600">Objectif Pro</label>
                            <textarea
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
                                    th:field="*{objectifPro}" placeholder="Votre/vos objectif(s) pro" name="objectif_pro"
                                    id="objectif_pro" required></textarea>
                            <div th:if="${#fields.hasErrors('objectifPro')}" th:errors="*{objectifPro}" style="color: red"></div>
                        </div>
                    </div>
                    <div class="p-2 w-full">
                        <div class="relative">
                            <label for="apport_reseau" class="leading-7 text-sm text-gray-600">Apport Réseau</label>
                            <textarea
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
                                    th:field="*{apportReseau}" placeholder="Apport réseau" name="apport_reseau" id="apport_reseau"
                                    required></textarea>
                            <div th:if="${#fields.hasErrors('apportReseau')}" th:errors="*{apportReseau}" style="color: red"></div>
                        </div>
                    </div>
                    <div class="p-2 w-full">
                        <div class="relative">
                            <label for="attente_reseau" class="leading-7 text-sm text-gray-600">Attente Réseau</label>
                            <textarea
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
                                    th:field="*{attenteReseau}" placeholder="Attente réseau" name="attente_reseau" id="attente_reseau"
                                    required></textarea>
                            <div th:if="${#fields.hasErrors('attenteReseau')}" th:errors="*{attenteReseau}" style="color: red">
                            </div>
                        </div>
                    </div>
                    <div class="p-2 w-full">
                        <div class="relative">
                            <div class="flex flex-wrap mb-4">
                                <label class="w-full leading-7 text-sm text-gray-600">Type d'emploi</label>
                                <div class="w-full md:w-1/2">
                                    <label class="md:flex items-center md:space-x-3 pr-3">
                                        <input th:field="*{typeEmploi}" type="checkbox" value="commercial_marketing" name="type_emploi[]" class="appearance-none bg-white h-3 w-3 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none">
                                        <span class="text-gray-900 text-sm">Commercial / Marketing</span>
                                    </label>
                                    <label class="md:flex items-center md:space-x-3 pr-3">
                                        <input th:field="*{typeEmploi}" type="checkbox" value="communication_creation" name="type_emploi[]" class="appearance-none bg-white h-3 w-3 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none">
                                        <span class="text-gray-900 text-sm">Communication / Création</span>
                                    </label>
                                    <label class="md:flex items-center md:space-x-3 pr-3">
                                        <input th:field="*{typeEmploi}" type="checkbox" value="dir_entreprise" name="type_emploi[]" class="appearance-none bg-white h-3 w-3 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none">
                                        <span class="text-gray-900 text-sm">Direction d'Entreprise</span>
                                    </label>
                                    <label class="md:flex items-center md:space-x-3 pr-3">
                                        <input th:field="*{typeEmploi}" type="checkbox" value="etude_rd" name="type_emploi[]" class="appearance-none bg-white h-3 w-3 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none">
                                        <span class="text-gray-900 text-sm">Études / Recherche et Développement</span>
                                    </label>
                                    <label class="md:flex items-center md:space-x-3 pr-3">
                                        <input th:field="*{typeEmploi}" type="checkbox" value="gest_fin_admin" name="type_emploi[]" class="appearance-none bg-white h-3 w-3 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none">
                                        <span class="text-gray-900 text-sm">Gestion / Finance / Administration</span>
                                    </label>
                                </div>
                                <div class="w-full md:w-1/2">
                                    <label class="md:flex items-center md:space-x-3 pr-3">
                                        <input th:field="*{typeEmploi}" type="checkbox" value="sys_info" name="type_emploi[]" class="appearance-none bg-white h-3 w-3 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none">
                                        <span class="text-gray-900 text-sm">Systèmes d'Information</span>
                                    </label>
                                    <label class="md:flex items-center md:space-x-3 pr-3">
                                        <input th:field="*{typeEmploi}" type="checkbox" value="indu_trav_chantier" name="type_emploi[]" class="appearance-none bg-white h-3 w-3 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none">
                                        <span class="text-gray-900 text-sm">Production Industrielle / Travaux / Chantiers</span>
                                    </label>
                                    <label class="md:flex items-center md:space-x-3 pr-3">
                                        <input th:field="*{typeEmploi}" type="checkbox" value="rh" name="type_emploi[]" class="appearance-none bg-white h-3 w-3 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none">
                                        <span class="text-gray-900 text-sm">Ressources Humaines</span>
                                    </label>
                                    <label class="md:flex items-center md:space-x-3 pr-3">
                                        <input th:field="*{typeEmploi}" type="checkbox" value="sanitaire_soc_cult" name="type_emploi[]" class="appearance-none bg-white h-3 w-3 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none">
                                        <span class="text-gray-900 text-sm">Sanitaire / Social / Culture</span>
                                    </label>
                                    <label class="md:flex items-center md:space-x-3 pr-3">
                                        <input th:field="*{typeEmploi}" type="checkbox" value="tech" name="type_emploi[]" class="appearance-none bg-white h-3 w-3 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none">
                                        <span class="text-gray-900 text-sm">Services Techniques</span>
                                    </label>
                                    <label class="md:flex items-center md:space-x-3 pr-3">
                                        <input th:field="*{typeEmploi}" type="checkbox" value="logistique" name="type_emploi[]" class="appearance-none bg-white h-3 w-3 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none">
                                        <span class="text-gray-900 text-sm">Logistique</span>
                                    </label>
                                </div>
                                <div th:if="${#fields.hasErrors('armeeOrigine')}" th:errors="*{armeeOrigine}" style="color: red"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="lg:w-5/12 lg:pl-8 lg:py-8 border-gray-200 mt-4 pt-4 lg:mt-0 text-center sm:text-left">
                <div class="flex flex-wrap -m-2">
                    <div class="p-2 w-full md:w-1/2">
                        <div class="relative">
                            <div class="relative mb-4">
                                <label class="leading-7 text-sm text-gray-600">Armée d'origine</label>
                                <label class="md:flex items-center md:space-x-3 pr-3">
                                    <input th:field="*{armeeOrigine}" type="checkbox" value="armee_terre" name="armee_origine[]" class="appearance-none bg-white h-3 w-3 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none">
                                    <span class="text-gray-900 text-sm">Armée de terre</span>
                                </label>
                                <label class="md:flex items-center md:space-x-3 pr-3">
                                    <input th:field="*{armeeOrigine}" type="checkbox" value="armee_air" name="armee_origine[]" class="appearance-none bg-white h-3 w-3 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none">
                                    <span class="text-gray-900 text-sm">Armée de l'air</span>
                                </label>
                                <label class="md:flex items-center md:space-x-3 pr-3">
                                    <input th:field="*{armeeOrigine}" type="checkbox" value="marine" name="armee_origine[]" class="appearance-none bg-white h-3 w-3 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none">
                                    <span class="text-gray-900 text-sm">Marine nationale</span>
                                </label>
                                <label class="md:flex items-center md:space-x-3 pr-3">
                                    <input th:field="*{armeeOrigine}" type="checkbox" value="gendarmerie" name="armee_origine[]" class="appearance-none bg-white h-3 w-3 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none">
                                    <span class="text-gray-900 text-sm">Gendarmerie</span>
                                </label>
                                <label class="md:flex items-center md:space-x-3 pr-3">
                                    <input th:field="*{armeeOrigine}" type="checkbox" value="police" name="armee_origine[]" class="appearance-none bg-white h-3 w-3 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none">
                                    <span class="text-gray-900 text-sm">Police</span>
                                </label>
                                <label class="md:flex items-center md:space-x-3 pr-3">
                                    <input th:field="*{armeeOrigine}" type="checkbox" value="dga" name="armee_origine[]" class="appearance-none bg-white h-3 w-3 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none">
                                    <span class="text-gray-900 text-sm">SGA</span>
                                </label>
                                <label class="md:flex items-center md:space-x-3 pr-3">
                                    <input th:field="*{armeeOrigine}" type="checkbox" value="ssa" name="armee_origine[]" class="appearance-none bg-white h-3 w-3 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none">
                                    <span class="text-gray-900 text-sm">SSA</span>
                                </label>
                                <label class="md:flex items-center md:space-x-3 pr-3">
                                    <input th:field="*{armeeOrigine}" type="checkbox" value="sca" name="armee_origine[]" class="appearance-none bg-white h-3 w-3 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none">
                                    <span class="text-gray-900 text-sm">SCA</span>
                                </label>
                                <label class="md:flex items-center md:space-x-3 pr-3">
                                    <input th:field="*{armeeOrigine}" type="checkbox" value="aucun" name="armee_origine[]" class="appearance-none bg-white h-3 w-3 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none">
                                    <span class="text-gray-900 text-sm">Aucun</span>
                                </label>
                                <div th:if="${#fields.hasErrors('armeeOrigine')}" th:errors="*{armeeOrigine}" style="color: red"></div>
                            </div>
                        </div>
                    </div>
                    <div class="p-2 w-full md:w-1/2">
                        <div class="relative">
                            <div class="relative mb-4">
                                <label class="leading-7 text-sm text-gray-600">Corps statutaire</label>
                                <label class="md:flex items-center md:space-x-3 pr-3">
                                    <input th:field="*{corpsStatutaire}" type="checkbox" value="general" name="corps_statutaire[]" class="appearance-none bg-white h-3 w-3 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none">
                                    <span class="text-gray-900 text-sm">Général</span>
                                </label>
                                <label class="md:flex items-center md:space-x-3 pr-3">
                                    <input th:field="*{corpsStatutaire}" type="checkbox" value="officier" name="corps_statutaire[]" class="appearance-none bg-white h-3 w-3 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none">
                                    <span class="text-gray-900 text-sm">Officier</span>
                                </label>
                                <label class="md:flex items-center md:space-x-3 pr-3">
                                    <input th:field="*{corpsStatutaire}" type="checkbox" value="sous_officier" name="corps_statutaire[]" class="appearance-none bg-white h-3 w-3 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none">
                                    <span class="text-gray-900 text-sm">Sous-officier</span>
                                </label>
                                <label class="md:flex items-center md:space-x-3 pr-3">
                                    <input th:field="*{corpsStatutaire}" type="checkbox" value="militaire" name="corps_statutaire[]" class="appearance-none bg-white h-3 w-3 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none">
                                    <span class="text-gray-900 text-sm">Militaire du rang</span>
                                </label>
                                <label class="md:flex items-center md:space-x-3 pr-3">
                                    <input th:field="*{corpsStatutaire}" type="checkbox" value="civil" name="corps_statutaire[]" class="appearance-none bg-white h-3 w-3 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none">
                                    <span class="text-gray-900 text-sm">Civil de la Défense</span>
                                </label>
                                <label class="md:flex items-center md:space-x-3 pr-3">
                                    <input th:field="*{corpsStatutaire}" type="checkbox" value="reserviste" name="corps_statutaire[]" class="appearance-none bg-white h-3 w-3 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none">
                                    <span class="text-gray-900 text-sm">Réserviste</span>
                                </label>
                                <label class="md:flex items-center md:space-x-3 pr-3">
                                    <input th:field="*{corpsStatutaire}" type="checkbox" value="sympathisant" name="corps_statutaire[]" class="appearance-none bg-white h-3 w-3 border border-gray-300 rounded-md checked:bg-blue-500 checked:border-transparent focus:outline-none">
                                    <span class="text-gray-900 text-sm">Sympathisant</span>
                                </label>
                                <div th:if="${#fields.hasErrors('corpsStatutaire')}" th:errors="*{corpsStatutaire}" style="color: red"></div>
                            </div>
                        </div>
                    </div>
                    <div class="p-2 w-full">
                        <div class="flex flex-wrap">
                            <div class="w-full leading-7 text-sm text-gray-600">Date de experience</div>
                            <input
                                    class="w-full md:w-1/2 bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                                    type="date" th:each="dateExp : *{dateExperience}" th:value="${dateExp}" id="dateExperience" name="dateExperience" min="1900-01-01">
                            <input
                                    class="w-full md:w-1/2 bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                                    type="date" th:if="*{#lists.isEmpty(dateExperience)}" id="dateExperience" name="dateExperience" min="1900-01-01">
                            <input
                                    class="w-full md:w-1/2 bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                                    type="date" th:if="*{#lists.isEmpty(dateExperience)}" id="dateExperience" name="dateExperience" min="1900-01-01">
                            <div th:if="${#fields.hasErrors('dateExperience')}" th:errors="*{dateExperience}" style="color: red"></div>
                        </div>
                    </div>
                    <div class="p-2 w-full">
                        <div class="relative">
                            <label for="description_experience" class="leading-7 text-sm text-gray-600">Description de l'expérience</label>
                            <textarea
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
                                    th:field="*{descriptionExperience}" placeholder="Description de l'expérience" name="description_experience" id="description_experience"></textarea>
                            <div th:if="${#fields.hasErrors('descriptionExperience')}" th:errors="*{descriptionExperience}" style="color: red"></div>
                        </div>
                    </div>
                    <div class="p-2 w-full">
                        <div class="flex flex-wrap">
                            <div class="w-full leading-7 text-sm text-gray-600">Date de formation</div>
                            <input
                                    class="w-full md:w-1/2 bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                                    type="date" th:each="dateForm : *{dateFormation}" th:value="${dateForm}" id="dateFormation" name="dateFormation" min="1900-01-01">
                            <input
                                    class="w-full md:w-1/2 bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                                    type="date" th:if="*{#lists.isEmpty(dateFormation)}" id="dateFormation" name="dateFormation" min="1900-01-01">
                            <input
                                    class="w-full md:w-1/2 bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                                    type="date" th:if="*{#lists.isEmpty(dateFormation)}" id="dateFormation" name="dateFormation" min="1900-01-01">
                            <div th:if="${#fields.hasErrors('dateFormation')}" th:errors="*{dateFormation}" style="color: red"></div>
                        </div>
                    </div>
                    <div class="p-2 w-full">
                        <div class="relative">
                            <label for="description_formation" class="leading-7 text-sm text-gray-600">Description de formation</label>
                            <textarea
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
                                    th:field="*{descriptionFormation}" placeholder="Description de formation" name="description_formation" id="description_formation"></textarea>
                            <div th:if="${#fields.hasErrors('descriptionFormation')}" th:errors="*{descriptionFormation}" style="color: red"></div>
                        </div>
                    </div>
                    <div class="p-2 w-full">
                        <div class="relative">
                            <label for="interets" class="leading-7 text-sm text-gray-600">Interêts</label>
                            <textarea
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
                                    th:field="*{interets}" placeholder="Interêts" name="interets[]" id="interets"></textarea>
                            <div th:if="${#fields.hasErrors('interets')}" th:errors="*{interets}" style="color: red"></div>
                        </div>
                    </div>
                    <div class="p-2 w-full">
                        <div class="relative">
                            <label for="description_emploi" class="leading-7 text-sm text-gray-600">Détails sur mon métier</label>
                            <textarea
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
                                    th:field="*{descriptionEmploi}" placeholder="Détails sur mon métier" name="description_emploi" id="description_emploi"></textarea>
                            <div th:if="${#fields.hasErrors('descriptionEmploi')}" th:errors="*{descriptionEmploi}" style="color: red"></div>
                        </div>
                    </div>
                    <div class="p-2 w-full">
                        <div class="relative">
                            <label for="citation" class="leading-7 text-sm text-gray-600">Citation</label>
                            <textarea
                                    class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-blue-500 focus:bg-white focus:ring-2 focus:ring-blue-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"
                                    th:field="*{citation}" placeholder="Citation" name="citation" id="citation"></textarea>
                            <div th:if="${#fields.hasErrors('citation')}" th:errors="*{interets}" style="color: red"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="fragments/visibility :: visibility_field(fieldName = 'visibiliteProfile', currentVisibilite = ${user.getVisibility().getValue()})"></div>

            <div class="p-2 w-full">
                <button type="submit" class="flex mx-auto text-white bg-blue-500 border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg registerbtn">Modifier</button>
            </div>
        </form>
    </div>
</section>
</body>
</html>