html {
    background: #f9f9f9;
    font-family: system-ui, Helvetica, Roboto, sans-serif;
    text-align: center;
}
h1 {
    line-height: 0;
    height: 0;
    transform: translatex(1rem);
    font-size: 7rem;
    color: rgba(99, 102, 241);
    letter-spacing: 2rem;
    font-weight: bold;
    margin-top: 235px;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
h3 {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 1.5rem;
    line-height: 0;
    margin-top: -100px;
    transform: translatey(14rem);
}
