<table th:fragment="user_table(users)" class="min-w-full divide-y divide-gray-200" id="userTable">
  <thead class="bg-gray-50">
    <tr>
      <th onclick="sortTable(0)" scope="col" class="cursor-pointer ... px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
        Nom Prenom
      </th>
      <th onclick="sortTable(1)" scope="col" class="cursor-pointer ... px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
        Region
      </th>
      <th onclick="sortTable(2)" scope="col" class="cursor-pointer ... px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
        Statut
      </th>
      <th scope="col" class="relative px-6 py-3">
        <span class="sr-only">Approuver</span>
      </th>
      <th scope="col" class="relative px-6 py-3">
        <span class="sr-only">Editer</span>
      </th>
      <th scope="col" class="relative px-6 py-3">
        <span class="sr-only">Supprimer</span>
      </th>
    </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    <div th:each="user : ${users}">
      <div th:replace="fragments/userTable :: user_row(user=${user})">
      </div>
    </div>
  </tbody>
</table>



<tr th:fragment="user_row(user)">
  <td class="px-6 py-4 whitespace-nowrap">
    <div class="flex items-center">
      <div class="flex-shrink-0 h-10 w-10">
        <img class="h-10 w-10 rounded-full"
          src="/assets/images/user.png"
          alt="" />
      </div>
      <div class="ml-4">
        <div th:text="${user.getNomPrenom()}" class="text-sm font-medium text-gray-900">
        </div>
        <div th:text="${user.getEmail()}" class="text-sm text-gray-500">
        </div>
      </div>
    </div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <div th:text="${user.getRegion().getLabel()}" class="text-sm text-gray-900"></div>
  </td>
  <td class="px-6 py-4 whitespace-nowrap">
    <span th:if="${user.getIsApproved()}"
      class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
      Approuvé
    </span>
    <span th:if="${!user.getIsApproved()}"
      class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">
      Non Approuvé
    </span>
  </td>
  <td class="px-3 py-4 whitespace-nowrap text-sm font-medium">
    <a th:if="${user.getIsApproved()}" th:href="@{/profil/__${user.getId()}__/approuver}"
      class="text-blue-600 hover:text-blue-900">Désapprouver</a>
    <a th:if="${!user.getIsApproved()}" th:href="@{/profil/__${user.getId()}__/approuver}"
      class="text-blue-600 hover:text-blue-900">Approuver</a>
  </td>
  <td class="px-3 py-4 whitespace-nowrap text-sm font-medium">
    <a th:href="@{/profil/__${user.getId()}__/editer}" class="text-blue-600 hover:text-blue-900">Editer</a>
  </td>
  <td class="px-3 py-4 whitespace-nowrap text-sm font-medium">
    <a th:href="@{/profil/__${user.getId()}__/supprimer}" class="text-red-600 hover:text-red-900">Supprimer</a>
  </td>
</tr>
