<div th:fragment="tabs_button(label, link,active)">
    <a th:href="${link}" th:if="${active}" th:text="${label}" class="text-gray-600 py-4 px-6 block
    hover:text-blue-500 focus:outline-none text-blue-500 border-b-2 font-medium border-blue-500"></a>
    <a th:href="${link}" th:if="${!active}" th:text="${label}" class="text-gray-600 py-4 px-6 block hover:text-blue-500
        focus:outline-none"></a>
</div>